.tranHead {
  background-image: url("https://images.pexels.com/photos/1671630/pexels-photo-1671630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
